<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiwiboot.kiwisso.dao.AccessMapper">
  <resultMap id="BaseResultMap" type="com.kiwiboot.kiwisso.model.Access">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="apps_id" jdbcType="BIGINT" property="appsId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    <!-- WARNING - @mbg.generated -->
    a_access.id, a_access.pid, a_access.name, a_access.code, a_access.url, a_access.apps_id, a_access.create_time, a_access.update_time
  </sql>


  <resultMap id="BaseResultVOMap" extends="BaseResultMap" type="com.kiwiboot.kiwisso.model.vo.AccessVO">
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>

  <select id="findByRole" resultMap="BaseResultVOMap">
    SELECT access.*, role_access_rela.role_id
    FROM a_access access
    LEFT JOIN a_role_access_rela role_access_rela
    ON role_access_rela.access_id = access.id
    AND role_access_rela.role_id = #{roleId, jdbcType=BIGINT}
    WHERE access.apps_id = #{appsId, jdbcType=BIGINT}
  </select>

  <select id="findAllRoleAccess" resultMap="BaseResultVOMap">
    SELECT access.url, role_acc.role_id FROM a_access access
    LEFT JOIN a_role_access_rela role_acc
    ON access.id = role_acc.access_id
    WHERE access.url is not NULL
    AND access.apps_id = #{appsId, jdbcType=BIGINT}
  </select>

</mapper>