<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiwiboot.kiwisso.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.kiwiboot.kiwisso.model.Menu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="apps_id" jdbcType="BIGINT" property="appsId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="menu_icon" jdbcType="VARCHAR" property="menuIcon" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    <!-- WARNING - @mbg.generated -->
    a_menu.id, a_menu.pid, a_menu.apps_id, a_menu.name, a_menu.url, a_munu.menu_icon, a_menu.type, a_menu.order_id, a_menu.create_time, a_menu.update_time
  </sql>


  <resultMap id="BaseResultVOMap" extends="BaseResultMap" type="com.kiwiboot.kiwisso.model.vo.MenuVO">
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>

  <select id="findByRoleId" resultMap="BaseResultVOMap">
    SELECT menu.*, role_menu_rela.role_id
    FROM a_menu menu
    LEFT JOIN a_role_menu_rela role_menu_rela
    ON role_menu_rela.menu_id = menu.id
    AND role_menu_rela.role_id = #{roleId, jdbcType=BIGINT}
    WHERE menu.apps_id = #{appsId, jdbcType=BIGINT}
  </select>

  <!-- 查询某用户的某应用的菜单权限 -->
  <select id="findByUser" resultMap="BaseResultMap" resultType="com.kiwiboot.kiwisso.model.vo.MenuVO">
    SELECT menu.* FROM a_role_user_rela role_user_rela, a_role_menu_rela role_menu_rela, a_menu menu
    WHERE role_user_rela.role_id = role_menu_rela.role_id
    AND role_menu_rela.menu_id = menu.id
    AND menu.apps_id = #{appsId, jdbcType=BIGINT}
    <if test="type != null">
      AND menu.type = #{type, jdbcType=SMALLINT}
    </if>
    AND role_user_rela.user_id = #{userId, jdbcType=BIGINT}
    ORDER BY menu.order_id ASC, menu.id ASC
  </select>
  
</mapper>